//Font
$mainFont: 'Montserrat', Helvetica, sans-serif;

//Size
$mainFontSize: 22px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$desktopWidth: 1280px;
$tableWidth: 768px;
$phoneWidth: 480px;

//Color
$mainFontColor: #f8f3f0;
$mainBackgroundColor: #c1b9b9;
